/*CSS file associated with Accouts */

:root {
  --account-box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
  --primary-black: #000;
  --primary-white: #fff;
  --base-transition: all 0.3s ease-in-out;
}
/* Overall page layout */
.accounts-page {
  width: 100%;
}

/* Grid layout for content */
.accounts-grid-block {
  /* background: green; */
  display: flex;
  /* move the content at the bottom of the div element */
  align-items: flex-end;
  margin-bottom: 2rem;
}

.grid-content {
  height: 100%;
  width: 100%;
  transition: var(--base-transition); /* Smooth expand/collapse animation */
}

.user-profile-container {
  display: flex;
  align-items: center;
  gap: 2rem;
  /* TOP LEFT BOTTOM RIGHT */
  padding: 2rem 2rem 0rem 2rem;
  height: 500px;
  padding-bottom: 10px;
  transition: var(--base-transition); /* Smooth expand/collapse animation */
}
.user-profile-container.edit {
  height: 800px;
  transition: var(--base-transition); /* Smooth expand/collapse animation */
}

/* User Profile Card styles */
.user-profile-card {
  /* position: absolute; */
  background: linear-gradient(135deg, #836bfe 30%, #ff8e53 90%);
  background-color: var(--primary-white);
  border-radius: 10px;
  padding: 20px;
  /* background: red; */
  height: 100%;
  width: 700px;
  box-shadow: var(--account-box-shadow);
}

.user-profile-card-body {
  display: flex;
  align-items: center;
  margin: 20px;
}

.user-profile-card-body-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  font-size: 18px;
}

.user-profile-card-body-content-image img {
  max-width: 120px; /* Adjust as needed */
  border-radius: 50%;
  position: relative;
}

.add-profile-picture-button {
  align-items: center;
  background: var(--primary-white);
  border: none;
  border-radius: 10px;
  color: var(--primary-black);
  font-size: 12px;
  padding: 10px;
  cursor: pointer;
  margin: 10px 0;
}

/* DETAILS */
.user-profile-lower-container {
  /* background: red; */
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  height: 500px;
}
/* User Details Card styles */
.user-details-card {
  /* position: absolute; */
  background-color: var(--primary-white);
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  height: 100%;
  box-shadow: var(--account-box-shadow);
  transition: var(--base-transition); /* Smooth expand/collapse animation */
  overflow: hidden;
}
.accounts-form-container {
  width: 100%;
}

.user-details-card-header {
  text-align: center;
}

.user-details-card-body-content {
  transition: max-height 0.3s ease; /* Smooth expand/collapse 
  animation */
}

/* User Details Card form styles */
.user-profile-card-body-content-text .meta-data {
  /* background: yellow; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.user-details-card-body-content-text {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.user-details-card-body-content-button {
  text-align: center;
}

/* Edit button styles */
.user-details-card .edit-user-details-button {
  margin-top: 10px;
  background-color: var(--primary-black);
  color: var(--primary-white);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

/* Interests Card styles */
.interests-card {
  background-color: var(--primary-white);
  border-radius: 10px;
  padding: 20px;
  box-shadow: var(--account-box-shadow);
  height: fit-content;
  width: 100%;
  height: 100%;
}

.interests-selection-box {
  gap: 10px;
  display: flex;
  flex-direction: column; /* Stack interests vertically */
  align-items: flex-start; /* Align interests to the left */
  padding-top: 20px; /* Add some space at the top if needed */
}

/* Style for each individual interest item within interests-selection-box */
.interest-wrapper span {
  cursor: pointer;
  font-size: 24px;
}

.interest-wrapper input[type="checkbox"] {
  margin: 5px 10px 0 10px; /* Add some spacing between checkbox and label */
  width: 20px;
}

/* Events Card styles */
.events-card {
  background-color: var(--primary-white);
  border-radius: 10px;
  padding: 20px;
  box-shadow: var(--account-box-shadow);
  height: fit-content;
  width: 100%;
  height: 100%;
  background: linear-gradient(270deg, #fe6b8b 30%, #ff8e53 90%);
}

.events-signup-listing {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
  font-size: 24px;
  margin: 5px 10px 0 10px;
}

/* User Image */
.image-profile-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-profile-image {
}
.close-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffff;
  border-radius: 50px;
  height: 20px;
  width: 20px;
  cursor: pointer;
  padding: 5px;
  font-size: 24px;
  opacity: 0;
  transition: var(--base-transition); /* Smooth expand/collapse animation */
}
/* hover over profile image and move icon to top: 0 */
.image-profile-container:hover .close-icon {
  top: -5px;
  background: #000;
  /* Rotate 180deg */
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 200;
}
.close-icon:hover {
  transform: translate(-50%, -50%) rotate(-180deg) !important;
  background: red !important;
  opacity: 1;
}

.logout-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.logout-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* RESPONSIVENESS (MEDIA QUERIES) */
@media (max-width: 1440px) {
  .user-details-card.edit {
    height: 500px;
  }
  .user-details-card {
    height: 800px;
    width: 100%;
    transition: var(--base-transition); /* Smooth expand/collapse animation */
  }
  .user-profile-card {
    width: 100%;
  }
  .user-profile-container {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    /* TOP LEFT BOTTOM RIGHT */
    padding: 2rem 2rem 0rem 2rem;
    height: 100%;
  }
  .user-details-card-body-content-text {
    height: 100% !important;
  }
  .user-details-container.edit {
    transition: var(--base-transition); /* Smooth expand/collapse animation */
  }
  .user-profile-lower-container {
    flex-direction: column;
    height: 100%;
  }
  .events-card {
    padding-bottom: 2rem;
  }
}
@media (max-width: 800px) {
  .grid-content {
    margin-top: 3.5rem;
  }
}
