:root {
  --font-family: System-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* --primary-brand-color: #ac4bf9; */
  /* --primary-brand-color: linear-gradient(
    180deg,
    rgba(172, 75, 249, 0.9) 0%,
    rgba(0, 0, 0, 1) 100%
  ); */
  --primary-brand-color: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  --primary-transition: all 0.2s ease-in-out;
  --primary-white: #ffffff;
  --primary-black: #000000;
  --secondary-brand-color: #c9c9c9;
  --invert-colors: invert(1);
}

a {
  text-decoration: none;
  color: #ffffff;
}

.sidebar {
  font-family: var(--font-family);
  background: var(--primary-brand-color);
  border-radius: 0px 10px 10px 0px;

  color: var(--primary-white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  min-width: 300px;
  height: 90vh;
  transition: var(--primary-transition);
  position: fixed;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  z-index: inherit;
  overflow: hidden;
}

.sidebar-logo {
  font-size: 50px;
  font-weight: 800;
  margin-top: 1rem;
  opacity: 1;
}

.sidebar-sub-text {
  color: #000;
  font-size: 24px;
  font-weight: 900;
  text-align: left;
}

.sidebar-interests {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.sidebar-interests .pill {
  background: #000;
  color: var(--primary-white);
  padding: 0.3rem 1rem;
  border-radius: 20px;
  margin: 0.5rem 0.5rem 0 0;
  font-size: 9px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.nav-section,
.hosted-section {
  /* background: blue; */
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding: 0.5rem;
  gap: 1rem;
}
.nav-section::before,
.hosted-section::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #000;
  opacity: 0.2;
  margin-bottom: 1rem;
}

.hosted-section .pill.nav,
.nav-section .pill.nav {
  background: none;

  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--primary-white);
}

.sidebar-icon-container {
  text-align: left;
  display: flex;
  flex-direction: column;
  font-size: 9px;
  align-items: center;
  margin-bottom: 1rem;
  gap: 0.8rem;
  /* CHange the color of black image to white */
  filter: var(--invert-colors);
}

.hosted-section .pill.nav,
.nav-section .pill.nav,
.pill {
  transition: all 0.2s ease-in-out;
  font-weight: 800;
  font-size: 20px;
  text-align: left;
}

.sidebar-interests .pill:hover {
  transform: scale(1.05);
}

.nav.pill:hover {
  transform: scale(1.05);
}

.nav-section .text,
.hosted-section .text {
  text-align: left;
  padding-bottom: 1rem;
  font-weight: 600;
}

/* Create Event */
.create-event {
  /* filter: var(--invert-colors); */
  cursor: pointer;
  display: inline-block;
  margin: auto;
  flex-direction: column;
  transition: all 0.25s ease-in-out;
}

.create-event-text {
  font-size: 12px;
  font-weight: 800;
  transition: all 0.25s ease-in-out;
  margin-top: -5px;
}
.create-event-btn {
  max-width: 50px;
  border-radius: 50%;
  font-size: 30px;
  display: flex;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: 800;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
  filter: invert(1);
  stroke-width: 1px;
  stroke: #ffffff;
  animation: grow 3s ease-in-out infinite;
}

/* .create-event:hover {
  transform: rotate(180deg) !important;
} */
@keyframes grow {
  0% {
    transform: scale(0.98);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.98);
  }
}

.create-event:hover .create-event-text {
  font-weight: 800;
}

.link-text {
  color: #000;
  font-weight: 900;
}

/* Hide Sidebar Styling Click Event in React To Add Class */
.sidebar .hosted-section {
  padding: 0;
}

.sidebar-component-wrapper {
  width: 0;
}

.sidebar .create-event-btn {
  max-width: 40px;
  margin: 1rem 0;
}

.sidebar {
  background: var(--primary-brand-color);
  min-width: 100px;
}

/* TOGGLE */
.burger-toggle {
  font-size: 30px;
  margin-top: 0.5rem;
  display: none;
}
.burger-toggle:hover {
  color: wheat;
  animation: grow 3s ease-in-out infinite;
}
@keyframes grow {
  0% {
    transform: scale(0.98);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.98);
  }
}
.sidebar-wrapper.hide {
  margin-right: 3rem;
  width: 50px;
  z-index: 100;
}

@media (max-width: 800px) {
  .sidebar-wrapper.hide {
    margin-right: 0rem;
  }
  .sidebar-logo {
    display: none;
  }
  .sidebar {
    height: 50px;
    position: fixed;
    top: 25px;
    background: #000000;
    color: #fff;
    width: 100%;
    box-shadow: none;
    text-align: left;
    border-radius: 0;
    z-index: 9999;
  }
  .burger-toggle {
    margin-left: 1rem;
    display: block;
  }
  .sidebar .pill {
    display: none;
  }
  .burger-toggle.hide {
    background: red;
    height: 100vh;
    display: block;
    z-index: 9999;
  }
  .sidebar.show {
    height: 100vh;
    left: 0;
    top: 0;
    transform: translate(0, 0px);
  }
  .sidebar.show .pill {
    display: block;
  }
  .sidebar.show .create-event {
    display: block;
    text-align: center;
    margin: auto;
  }
  .sidebar.show .create-event-btn {
    display: inline-block;
  }
  .nav-section::before,
  .hosted-section::before {
    background: #fff;
  }
}

/* TOGGLE */
@media (max-width: 450px) {
  .sidebar-component-wrapper {
    position: absolute;
    width: 0;
  }
}
